WCF_Project_Client_Powers/WCF_Project_Client_Powers/Service References/ServiceReference1/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8959/StudentService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8959/StudentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8959/StudentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Project_Library_Powers" />
      <xsd:import schemaLocation="http://localhost:8959/StudentService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_GetStudentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByID" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_AddNewStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_AddNewStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_AddGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGrade" />
  </wsdl:message>
  <wsdl:message name="IStudentService_AddGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGradeResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_BelowAverage_InputMessage">
    <wsdl:part name="parameters" element="tns:BelowAverage" />
  </wsdl:message>
  <wsdl:message name="IStudentService_BelowAverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:BelowAverageResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="GetStudentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentByID" message="tns:IStudentService_GetStudentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentByIDResponse" message="tns:IStudentService_GetStudentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/AddNewStudent" message="tns:IStudentService_AddNewStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/AddNewStudentResponse" message="tns:IStudentService_AddNewStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/AddGrade" message="tns:IStudentService_AddGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/AddGradeResponse" message="tns:IStudentService_AddGrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BelowAverage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/BelowAverage" message="tns:IStudentService_BelowAverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/BelowAverageResponse" message="tns:IStudentService_BelowAverage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentByID">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/AddNewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGrade">
      <soap:operation soapAction="http://tempuri.org/IStudentService/AddGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BelowAverage">
      <soap:operation soapAction="http://tempuri.org/IStudentService/BelowAverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost:8959/StudentService/student" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>